@using ExpensesControlApp.Helpers
@{
    ViewData["Title"] = "Limit";
}

@model ExpensesControlApp.ViewModels.LimitParam
<div class="container col-10">
    <form id="form" class="validate-form" method="post" asp-action="Index">
        <div class="border p-3 form-group">
            <div class="row">
                <h2 class="text-black-50 pl-3">Set Limit</h2>
            </div>
            <div class="row">
                <div class="d-flex flex-column align-items-center">
                    <div class="col my-2">
                        <div class="input-group">
                            <div class="input-group-prepend w-25">
                                <span class="input-group-text w-100" id="addon-amount">Amount</span>
                            </div>
                            <input asp-for="Amount" name="Amount" class="form-control" aria-describedby="addon-amount">
                        </div>
                        <span asp-validation-for="Amount" class="text-danger"></span>
                        <label for="Amount" class="validation_error_message text-danger"></label>
                        @{
                            TempData["TimeSpanInputValue"] = (int)Model.TimeSpan;
                        }
                        <div class="input-group">
                            <div class="input-group-prepend w-25">
                                <span class="input-group-text w-100" id="addon-timespan">Span</span>
                            </div>

                            <input type="radio" asp-for="TimeSpan" name="TimeSpan" class="btn-check" value="0" id="time-option1" autocomplete="off">
                            <label class="btn btn-outline-secondary" for="time-option1">@TimeOption.Weekly</label>
                            <input type="radio" asp-for="TimeSpan" name="TimeSpan" class="btn-check" value="1" id="time-option2" autocomplete="off">
                            <label class="btn btn-outline-secondary" for="time-option2">@TimeOption.Monthly</label>
                        </div>
                        <span asp-validation-for="TimeSpan" class="text-danger"></span>
                        <label for="TimeSpan" class="validation_error_message text-danger"></label>
                    </div>
                    <div class="col">
                        <input id="submit" type="submit" class="btn btn-outline-success m-2" value="Save" />

                        <a class="btn btn-outline-danger m-2" asp-controller="ExpenseManager" asp-action="Index">Cancel</a>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
@section MyScripts {
<script>
    var timeSpan = '@TempData["TimeSpanInputValue"]';
    validateForm();
    convertTimeSpanInput(timeSpan);
</script>

}

