@using ExpensesControlApp.Helpers
@{
    ViewData["Title"] = "Limit";
}

@model ExpensesControlApp.ViewModels.LimitParam

<form id="form" method="post" asp-action="Save">
    <div class="border p-3 form-group">
        <div class="row">
            <h2 class="text-black-50 pl-3">Set Limit</h2>
        </div>
        <div class="d-flex flex-column align-items-center">
            <div class="col-5">
                <div class="input-group">
                    <div class="col-3 input-group-prepend">
                        <span class="input-group-text" id="addon-amount">Amount</span>
                    </div>
                    <input asp-for="Amount" class="form-control" aria-describedby="addon-amount">
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>
            <partial name="_TimeSpanInput" for=TimeSpan />
        </div>
        <div class="d-flex justify-content-evenly text-center my-4">
            <div class="col">
                <input id="submit" type="submit" class="btn btn-outline-success w-50" value="Save" />
            </div>
            <div class="col">
                <a class="btn btn-outline-danger w-50" asp-controller="ExpenseManager" asp-action="Index">Cancel</a>
            </div>
        </div>

    </div>
</form>
@section MyScripts {
<script>

    $('input[name="timespan"]').click(function(){
        $("#timespan-input").val($('input[name="timespan"]:checked').val());
    });
    $(document).ready(function(){
        $(".checked").prop("checked", true);
    });
</script>

}

