@using ExpensesControlApp.Helpers

@{
    ViewData["Title"] = "Update Regular Expense";
}

@model ExpensesControlApp.ViewModels.RegExpViewModel
<div class="container col-10">
    <form method="post" asp-action="Update">
        <input asp-for="RegularExpenseId" hidden />
        <div class="border p-3 form-group">
            <div class="row">
                <h2 class="text-black-50 pl-3">Update Regular Expense</h2>
            </div>
            <div class="row">
                <div class="d-flex flex-column align-items-center">
                    <div class="col my-2">
                        <input asp-for="ExpenseId" hidden />
                        <partial name="_ExpenseInput" for="Expense"/>
                        <partial name="_TimeSpanInput" for=TimeSpan />
                    </div>
                    <div class="col">
                        <input id="submit" type="submit" class="btn btn-outline-success m-2" value="Update" />

                        <a class="btn btn-outline-danger m-2" asp-action="Index">Cancel</a>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
@section MyScripts {
<script>
    $('input[name="timespan"]').click(function(){
        $("#timespan-input").val($('input[name="timespan"]:checked').val());
    });
    $(document).ready(function(){
        $(".checked").prop("checked", true);
    });
</script>
}
