@model ExpensesControlApp.Models.Expense
<div class="col-5">
    <div class="input-group">
        <div class="col-3 input-group-prepend">
            <span class="input-group-text" id="addon-name">Expense Name</span>
        </div>
        <input asp-for="ExpenseName" class="form-control" aria-describedby="addon-name">
        <span asp-validation-for="ExpenseName" class="text-danger"></span>
    </div>
</div>
<div class="col-5">
    <div class="input-group">
        <div class="col-3 input-group-prepend">
            <span class="input-group-text" id="addon-amount">Amount</span>
        </div>
        <input asp-for="Amount" class="form-control" aria-describedby="addon-amount">
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
</div>