@model ExpensesControlApp.Models.ExpenseEntry

<div class="input-group">
    <div class="input-group-prepend w-25">
        <span class="input-group-text w-100" id="addon-date">Date</span>
    </div>

    @{
        string date = "";
        if (Model?.Date != null)
            date = String.Join(".", Model.Date.ToShortDateString().Split("-").Reverse());
    }
    <input id="datepicker" name="Date" value="@date" class="form-control" aria-describedby="addon-date">
</div> 
<label for="Date" class="validation_error_message text-danger"></label>