@model ExpensesControlApp.Models.Expense

    <div class="input-group">
            <div class="input-group-prepend w-25">
                <span class="input-group-text w-100" id="addon-name">Name</span>
            </div>
        <input asp-for="ExpenseName" name="ExpenseName" class="form-control" aria-describedby="addon-name">
        <span asp-validation-for="ExpenseName" class="text-danger"></span>

    </div>

    <div class="input-group">
        <div class="input-group-prepend w-25">
            <span class="input-group-text w-100" id="addon-amount">Amount</span>
        </div>
        <input asp-for="Amount" name="Amount" class="form-control" aria-describedby="addon-amount">
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
