@using ExpensesControlApp.Helpers
@model TimeSpanOption

    <div class="input-group">
        <div class="input-group-prepend w-25">
            <span class="input-group-text w-100" id="addon-timespan">Span</span>
        </div>
        
        <input type="radio" name="TimeSpan" class="btn-check" value="0" id="time-option1" autocomplete="off">
        <label class="btn btn-outline-secondary" for="time-option1">@TimeSpanOption.Weekly</label>
        <input type="radio" name="TimeSpan" class="btn-check" value="1" id="time-option2" autocomplete="off">
        <label class="btn btn-outline-secondary" for="time-option2">@TimeSpanOption.Monthly</label>
    </div>
    <label for="TimeSpan" class="validation_error_message text-danger"></label>