@{
    ViewData["Title"] = "Add Expense";
}

@model ExpensesControlApp.Models.ExpenseEntry
<div class="container col-10">
    <form id="form" method="post">
        <div class="border p-3 form-group">
            <div class="row">
                <h2 class="text-black-50 pl-3">Add Expense</h2>
            </div>
            <div class="row">
                <div class="d-flex flex-column align-items-center">
                    <div class="col my-2">
                        <partial name="_ExpenseInput" />
                        <partial name="_DateInput" />
                    </div>
                    <div class="col">
                        <input id="submit" type="submit" class="btn btn-outline-success m-2" asp-action="Create" value="Create" />

                        <a class="btn btn-outline-danger m-2" asp-action="Index">Cancel</a>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
@section MyScripts {
<script>
    $("#form").validate({
        rules: {
            ExpenseName: "required",
            Amount: "required",
            Date: "required"
        },
        messages: {
            ExpenseName: "The name of the expense is required",
            Amount: "The amount of the expense is required",
            Date: "The date of the expense is required"
        }
    });
    $(document).ready(function(){
        $("#datepicker").datepicker({
            dateFormat: "dd.mm.yy",
            firstDay: 1
        });
    });
    $("#submit").click(function(){
        let date = $("#datepicker").val().split(".").reverse().join("-");
        $("#datepicker").val(date);
    });
</script>
}


