@{
    ViewData["Title"] = "Add Expense";
}

@model ExpensesControlApp.Models.ExpenseEntry
<div class="container col-10">
    <form id="form" method="post">
        <div class="border p-3 form-group">
            <div class="row">
                <h2 class="text-black-50 pl-3">Add Expense</h2>
            </div>
            <div class="row">
                <div class="d-flex flex-column align-items-center">
                    <div class="col my-2">
                        <partial name="_ExpenseInput" for=Expense />
                        <partial name="_DateInput" for=@Model />
                    </div>
                    <div class="col">
                    <input id="submit-create" type="submit" class="btn btn-outline-success m-2" asp-action="Create" value="Create" />

                    <a class="btn btn-outline-danger m-2" asp-action="Index">Cancel</a>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
@section MyScripts {
<script>
    $(document).ready(function (){
        $("#datepicker").datepicker({
            dateFormat: "dd.mm.yy",
            firstDay: 1
        });
    });
    $("#submit-create").click(function(){
        let date = $("#datepicker").val().split(".").reverse().join("-");
        $("#dateinput").val(date);
    });
</script>
}


