@{
    ViewData["Title"] = "Update Expense";
}

@model ExpensesControlApp.Models.ExpenseEntry
<div class="container col-10">
    <form method="post" asp-action="Update">
        <input asp-for="EntryId" hidden />
        <div class="border p-3 form-group">
            <div class="row">
                <h2 class="text-black-50 pl-3">Update Expense</h2>
            </div>
            <div class="row">
                <div class="d-flex flex-column align-items-center">
                    <div class="col my-2">
                        <input asp-for="ExpenseId" hidden />
                        <partial name="_ExpenseInput" for="Expense" />
                        <partial name="_DateInput" />
                    </div>
                    <div class="col">
                        <input id="submit" type="submit" class="btn btn-outline-success m-2" value="Update" />

                        <a class="btn btn-outline-danger m-2" asp-action="Index">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section MyScripts {
<script>



        setUpDatePicker();

    submitDatePicker();
</script>
}
