@{
    ViewData["Title"] = "Add Expense";
}

@model ExpensesControlApp.Models.ExpenseEntry

<form id="form" method="post">
    <div class="border p-3 form-group">
        <div class="row">
            <h2 class="text-black-50 pl-3">Add Expense</h2>
        </div>
        <div class="d-flex flex-column align-items-center">
                    @*@(Html.EditorFor(m => m.Expense))*@
                    <div class="col-5">
                        <div class="input-group">
                            <div class="col-3 input-group-prepend">
                                <span class="input-group-text" id="addon-name">Expense Name</span>
                            </div>
                            <input asp-for="ExpenseName" class="form-control" aria-describedby="addon-name">
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="input-group">
                            <div class="col-3 input-group-prepend">
                                <span class="input-group-text" id="addon-amount">Amount</span>
                            </div>
                            <input asp-for="Amount" class="form-control" aria-describedby="addon-amount">
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="input-group">
                            <div class="col-3 input-group-prepend">
                                <span class="input-group-text" id="addon-date">Date</span>
                            </div>
                            <input id="datepicker" class="form-control" aria-describedby="addon-date">
                            <input id="dateinput" asp-for="Date" class="form-control" aria-describedby="addon-date" hidden>
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-4 offset-4 row text-center">
                        <div class="col">
                            <input id="submit-create" type="submit" class="btn btn-outline-success w-50"  asp-action="Create" value="Create"/>
                        </div>
                        <div class="col">
                            <a class="btn btn-outline-danger w-50" asp-action="Index">Cancel</a>
                        </div>
                    </div>
                </div>
           
        
    </div>
</form>
@section MyScripts {
    <script>
        $(document).ready(function (){
            $("#datepicker").datepicker({
                dateFormat: "dd.mm.yy",
                firstDay: 1
            });
        });
        $("#submit-create").click(function(){
            let date = $("#datepicker").val().split(".").reverse().join("-");
            $("#dateinput").val(date);
        });
    </script>
}

