@{
    ViewData["Title"] = "Home Page";
    Layout = "_EmptyLayout";
}

<div style="height: 500px;" class="text-center d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-4">My Expense Controller</h1>
    <a class="btn btn-outline-dark w-25 my-5" asp-controller="ExpenseManager" asp-action="index">Start</a>
</div>
