@{
    ViewData["Title"] = "Add Expense";
}

@model ExpensesControlApp.Models.Expense

<form id="form" method="post" asp-action="Create">
    <div class="border p-3 form-group">
        <div class="row">
            <h2 class="text-black-50 pl-3">Add Expense</h2>
        </div>
        <div class="d-flex flex-column align-items-center">
           <div class="col-5">
                <div class="input-group">
                    <div class="col-3 input-group-prepend">
                        <span class="input-group-text" id="addon-name">Expense Name</span>
                    </div>
                    <input asp-for="ExpenseName" class="form-control" aria-describedby="addon-name">
                    <span asp-validation-for="ExpenseName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-5">
                <div class="input-group">
                    <div class="col-3 input-group-prepend">
                        <span class="input-group-text" id="addon-amount">Amount</span>
                    </div>
                    <input asp-for="Amount" class="form-control" aria-describedby="addon-amount">
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>
           </div>
            <div class="row my-4">
                <div class="col-4 offset-4 row text-center">
                    <div class="col">
                        <input id="Next" type="submit" class="btn btn-outline-success w-50" value="Next" />
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-danger w-50" asp-controller="ExpenseEntry" asp-action="Index">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    
</form>

